:host {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-wrapper {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.contact {
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    font-family: "dim_bold";
    font-size: 62px;
}

.email-contact-img {
    position: relative;
    right: 37px;
}
.contact-icon {
    height: 100px;
    width: 120px;

    img {
        height: 100px;
    }
}

.facebook {
    padding-left: 24px;
}

.email, .phone {
    padding-left: 24px;
}
