<div class="contact-wrapper">
    <div class="contact">
        <div class="contact-icon">
            <img src="../../../assets/facebook.png" style="position: relative; right: 7px;"/>
        </div>
        <span class="facebook">Pixel Squid</span>
    </div>
    <div class="contact">
        <div class="contact-icon">
            <img class="email-contact-img" src="../../../assets/email.png" />
        </div>
        <span class="email">pixelsquid@gmail.com</span>
    </div>
    <div class="contact">
        <div class="contact-icon">
            <img src="../../../assets/phone.png" />
        </div>
        <span class="phone">874 973 983</span>
    </div>
</div>