<div class="wrapper">
    <div class="cord-name">
        {{guitarCord.name}}
    </div>
    <div class="sub-cords-wrapper">
        <div class="first-row">
            <div class="sub-cord" *ngFor="let ob of firstRowFakeArray; let i=index;">
                <div class="name-play">
                    <div class="subcord-name">
                        {{guitarSubCords[i].guitarSubCord.name}}
                    </div>
                    <div class="play">
                        <img [src]="guitarSubCords[i].playPauseImageSrc" (click)="toggle(i)"/>
                    </div>
                </div>
                <div class="notes">
                    <img [src]="guitarSubCords[i].guitarSubCord.imagePath"/>
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="sub-cord" *ngFor="let ob of secondRowFakeArray; let i=index;">
                <div class="name-play">
                    <div class="subcord-name">
                        {{guitarSubCords[i+3].guitarSubCord.name}}
                    </div>
                    <div class="play">
                        <img [src]="guitarSubCords[i+3].playPauseImageSrc" (click)="toggle(i+3)"/>
                    </div>
                </div>
                <div class="notes">
                    <img [src]="guitarSubCords[i+3].guitarSubCord.imagePath"/>
                </div>
            </div>
        </div>
    </div>
</div>