.wrapper {
    height: calc(100% - 137px);
    // overflow: scroll;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    padding-right: 49px;
}

.cords-wrapper {
    padding-top: 90px;
    overflow: scroll;
    height: calc(100% - 90px);
}

.cords-wrapper::-webkit-scrollbar {
    display: none;
}

.background {
    height: 34%;
    filter: blur(60px);
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -80px;
    pointer-events: none;
}
