.wrapper {
    height: calc(100% - 286px);
    padding-top: 150px;
    padding-right: 49px;
}

.cords-wrapper {
    padding-top: 90px;
    overflow: scroll;
    height: calc(100% - 90px);
}

.cords-wrapper::-webkit-scrollbar {
    display: none;
}