.wrapper {
    height: calc(80% - 25px);
    overflow: scroll;
    position: relative;
    background-color: rgba(255,255,255,0.2);
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.cords-wrapper {
    position: relative;
    padding-top: 20%;
    bottom: 50%;
}

.background {

    height: 46%;
    filter: blur(60px);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 4%;
}
