<div *ngIf="uploadWay === UPLOAD_FROM_DISC" class="guitars">
    <a class="guitar" routerLink="/upload/fromDisc/acoustic">
        <img class="guitar-image" src ='../../../assets/acoustic.png'/>
    </a>
    <a class="guitar" routerLink="/upload/fromDisc/electric">
        <img class="guitar-image" src ='../../../assets/electric.png'/>
    </a>
    <a class="guitar" routerLink="/upload/fromDisc/bass">
        <img class="guitar-image" src ='../../../assets/bass.png'/>
    </a>
</div>

<div *ngIf="uploadWay === UPLOAD_FROM_RECORD" class="guitars">
    <a class="guitar" routerLink="/upload/fromRecord/acoustic">
        <img class="guitar-image" src ='../../../assets/acoustic.png'/>
    </a>
    <a class="guitar" routerLink="/upload/fromRecord/electric">
        <img class="guitar-image" src ='../../../assets/electric.png'/>
    </a>
    <a class="guitar" routerLink="/upload/fromRecord/bass">
        <img class="guitar-image" src ='../../../assets/bass.png'/>
    </a>
</div>
<!-- <form enctype="multipart/form-data" style="display: none;">
    <input #fileSelect class="file-select-button" allowedFileTypes="audio" [uploader]="uploader" type="file" ng2FileSelect />
</form> -->
