@import '../../../../styles/colors.scss';

.shop-item-wrapper {
    height: calc(100% - 136px);
    display: flex;
}

.image {
    height: calc(100% - 195px);
    width: 50%;
    margin-top: 195px;
    img {
        max-width: calc(100% - 50px);
        margin-left: 50px;
    }
}

.data {
    display: flex;
    flex-direction: column;
    height: calc(100% - 117px);
    width: calc(50% - 71px);
    margin-top: 117px;
    margin-left: 71px;
}

.images {
    height: 91px;
    display: flex;
    border-bottom: 1px solid $main-theme-orange;
}

.small-image{
    img {
        width: 68px;
    }

    img:hover {
        cursor: pointer;
    }
}

.description-wrapper {
    height: calc(100% - 130px);
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    padding-top: 130px;
}

.name {
    display: flex;
    font-size: 56px;
    font-family: "dim_bold";
    // height: 33%;
    align-items: center;
    margin-bottom: 5%;
}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    margin-bottom: 5%;
    // height: 25%;
}

.prize {
    font-size: 40px;
    font-family: 'dim_bold';
    // height: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

