<div class="shop-item-wrapper">
    <div class="image">
        <img [src]="selectedImage"/>
    </div>
    <div class="data">
        <div class="images">
            <div class="small-image" *ngFor="let image of shopItem.imagesPaths; let i=index;">
                <img [src]="image" (click)="setImage(i)"/>
            </div>
        </div>
        <div class="description-wrapper">
            <div class="name">
                {{shopItem.name}}
            </div>
            <div *ngIf="shopItem.description.length > 0" class="description">
                <div class="description_piece" *ngFor="let piece of shopItem.description"> {{piece}} <br></div>
            </div>
            <div class="prize">
                Cena: {{shopItem.prize}} zł
            </div>
        </div>
    </div>
</div>