<h1 mat-dialog-title>Create shop item</h1>
<mat-dialog-content>
  <mat-form-field class='form-field'>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="shopItem.name">
  </mat-form-field>
  <mat-form-field class='form-field'>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="shopItem.description">
  </mat-form-field>
  <mat-form-field class='form-field'>
    <mat-label>Prize</mat-label>
    <input matInput [(ngModel)]="shopItem.prize">
  </mat-form-field>
  <div class="file-item" *ngFor="let file of chosenFiles, let i=index">
    <div>{{i+1}}.<span class="file-name">{{file.name}}</span></div>
    <div class="delete" (click)="deleteFile(i)">Delete</div>
  </div>
  <input #fileSelect multiple='multiple' [uploader]="uploader" type="file" ng2FileSelect />
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
