@import '../../../../styles/colors.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 136px);
}

.record-wrapper {
    height: 250px;
    width: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid $main-theme-orange;
}

.record {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width:225px;
    background-color: $main-theme-orange;
    font-size: 56px;
    font-family: "dim_bold";
    color: black;
}

.play, .delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.record:hover, .play:hover, .delete:hover {
    cursor: pointer;
}

.play-pause-img, .delete-img {
    height: 80px;
}

.add-record-button {
    height: 80px;
    width: 325px;
    color: black;
    font-size: 56px;
    font-family: "dim_bold";
    background-color: $main-theme-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    outline: none;
}

.add-record-button:hover {
    cursor: pointer;
}