<div [ngClass]="wasStartPage ? 'animation-container' : 'container'">
    <div class="rounded-navbar">
        <a [ngClass]="{'animation-download': wasStartPage, 'download': !wasStartPage, 'button': true}" routerLink="/download"
            routerLinkActive="button-active">
            <!-- <img src="../../../assets/download.png" class="button-icon" /> -->
            <img [src]="currentIcons[0]" class="button-icon" />
        </a>
        <a [ngClass]="{'animation-upload': wasStartPage, 'upload': !wasStartPage, 'button': true}" routerLink="/upload" routerLinkActive="button-active">
            <!-- <img src="../../../assets/upload.png" class="button-icon" /> -->
            <img [src]="currentIcons[1]" class="button-icon" />
        </a>
        <a [ngClass]="{'animation-learn': wasStartPage, 'learn': !wasStartPage, 'button': true}" routerLink="/learn" routerLinkActive="button-active">
            <!-- <img src="../../../assets/learning.png" class="button-icon" /> -->
            <img [src]="currentIcons[2]" class="button-icon" />
        </a>
        <a [ngClass]="{'animation-shop': wasStartPage, 'shop': !wasStartPage, 'button': true}" routerLink="/shop" routerLinkActive="button-active">
            <!-- <img src="../../../assets/shopping.png" class="button-icon" /> -->
            <img [src]="currentIcons[3]" class="button-icon" />
        </a>
        <a [ngClass]="{'animation-contact': wasStartPage, 'contact': !wasStartPage, 'button': true}" routerLink="/contact"
            routerLinkActive="button-active">
            <!-- <img src="../../../assets/email.png" class="button-icon" /> -->
            <img [src]="currentIcons[4]" class="button-icon" />
        </a>
        <img class="logo" src="../../assets/Pixel Squid.png" routerLink="/main" />
    </div>
</div>