@import "../../../styles/colors.scss";

:host {
    width: 15%;
    min-width: 290px;
    position: relative;
}

.container {
    height: 100%;
    min-width: 370px;
    // min-height: 1000px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.animation-container-on {
    height: 100%;
    min-width: 370px;
    // min-height: 1000px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    animation: navbarAnimationOn 0.8s ease-out;
}

@keyframes navbarAnimationOn {
    from {
        left: -360px;
    }
    to {
        left: 0px;
    }
}

.animation-container-off {
    height: 100%;
    min-width: 370px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    left: -360px;
    animation: navbarAnimationOn 0.8s ease-out;
}

@keyframes navbarAnimationOff {
    from {
        left: 0px;
    }
    to {
        left: -360px;
    }
}

.rounded-navbar-wrapper {
    height: 650px;
    width: 400px;
}

.rounded-navbar {
    height: 570px;
    width: 285px;
    min-width: 285px;
    min-height: 570px;
    border: 3px solid #e75d0c;
    border-left: none;
    border-top-right-radius: calc(285px + 4px);
    border-bottom-right-radius: calc(285px + 4px);
}

.rounded-navbar-animated {
    height: 570px;
    width: 285px;
    min-width: 285px;
    min-height: 570px;
    border: 3px solid #e75d0c;
    border-left: none;
    border-top-right-radius: calc(285px + 4px);
    border-bottom-right-radius: calc(285px + 4px);
    animation: roundedNavbarAnimated 0.8s ease-out;
    position: relative;
}

@keyframes roundedNavbarAnimated {
    from {
        right: 200px;
    }
    to {
        right: 0px;
    }
}

.button {
    height: 160px;
    width: 160px;
    border-radius: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-icon {
        height: 100px;
        // width: 120px;
    }
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.button:active {
    border: 1px solid white;
    height: 158px;
    width: 158px;
    border-radius: 158px;
}

.button-active {
    background-color: rgba(255, 255, 255, 0.3);
}

.button-active-black {
    background-color: rgba(0, 0, 0, 0.3);
}

.black:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
}

.black:active {
    border: 1px solid black !important;
}

.download {
    position: relative;
    top: 310px;
    transform: rotate(0deg) translateY(-375px) rotate(0deg);
}

.animation-download {
    position: relative;
    top: 310px;
    transform: rotate(0deg) translateY(-375px) rotate(0deg);
}

.upload {
    position: relative;
    top: 10px;
    transform: rotate(45deg) translateY(-212px) rotate(-45deg);
}

.animation-upload {
    position: relative;
    top: 10px;
    transform: rotate(45deg) translateY(-212px) rotate(-45deg);

    animation: uploadAnimation 0.4s linear;
}

@keyframes uploadAnimation {
    0% {
        transform: rotate(0deg) translateY(-375px) rotate(0deg);
    }
    100% {
        transform: rotate(45deg) translateY(-212px) rotate(-45deg);
    }
}

.learn {
    position: relative;
    top: -115px;
    transform: rotate(90deg) translateY(-210px) rotate(-90deg);
}

.animation-learn {
    position: relative;
    top: -115px;
    transform: rotate(90deg) translateY(-210px) rotate(-90deg);
    animation: learnAnimation 0.8s linear;
}

@keyframes learnAnimation {
    0% {
        transform: rotate(0deg) translateY(-375px) rotate(0deg);
    }
    50% {
        transform: rotate(45deg) translateY(-212px) rotate(-45deg);
    }
    100% {
        transform: rotate(90deg) translateY(-210px) rotate(-90deg);
    }
}

.shop {
    position: relative;
    bottom: 235px;
    transform: rotate(135deg) translateY(-185px) rotate(-135deg);
}

.animation-shop {
    position: relative;
    bottom: 235px;
    transform: rotate(135deg) translateY(-185px) rotate(-135deg);
    animation: shopAnimation 1.2s linear;
}

@keyframes shopAnimation {
    0% {
        transform: rotate(0deg) translateY(-375px) rotate(0deg);
    }
    33% {
        transform: rotate(45deg) translateY(-212px) rotate(-45deg);
    }
    66% {
        transform: rotate(90deg) translateY(-210px) rotate(-90deg);
    }
    100% {
        transform: rotate(135deg) translateY(-185px) rotate(-135deg);
    }
}

.contact {
    position: relative;
    bottom: 410px;
    transform: rotate(180deg) translateY(-245px) rotate(-180deg);
}

.animation-contact {
    position: relative;
    bottom: 410px;
    transform: rotate(180deg) translateY(-245px) rotate(-180deg);
    animation: contactAnimation 1.6s linear;
}

@keyframes contactAnimation {
    0% {
        transform: rotate(0deg) translateY(-375px) rotate(0deg);
    }
    25% {
        transform: rotate(45deg) translateY(-212px) rotate(-45deg);
    }
    50% {
        transform: rotate(90deg) translateY(-210px) rotate(-90deg);
    }
    75% {
        transform: rotate(135deg) translateY(-185px) rotate(-135deg);
    }
    100% {
        transform: rotate(180deg) translateY(-245px) rotate(-180deg);
    }
}

.logo-wrapper {
    height: 0px;
}

.logo {
    // height: 70px;
    // width: 100px;
    // position: relative;
    // bottom: 40px;
    // right: 250px;
    height: 70px;
    width: 100px;
    position: relative;
    bottom: 40px;
    // right: -38px;
    right: 232px;
}

.hidden {
    display: none;
}

.logo-on-animation {
    height: 70px;
    width: 100px;
    position: relative;
    bottom: 40px;
    right: 250px;
    // animation: logoOnAnimation 1.6s ease-out;
}

@keyframes logoOnAnimation {
    from {
        right: 300px;
    }
    to {
        right: 250px;
    }
}

.logo-off-animation {
    height: 70px;
    width: 100px;
    position: relative;
    bottom: 40px;
    right: -38px;
    animation: logoOffAnimation 0.8s ease-out;
}

@keyframes logoOffAnimation {
    from {
        right: -38px;
    }
    to {
        right: 250px;
    }
}
.logo:hover, .logo-on-animation:hover {
    cursor: pointer;
}

.logo:focus, .logo-on-animation:focus {
    outline: 0;
}
