@import "../../../styles/colors.scss";

:host {
    width: 25%;
    min-width: 330px;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    min-width: 330px;
    display: flex;
    align-items: center;
    width: 100%;
}

.animation-container {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    min-width: 330px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    animation: navbarAnimation 1s ease-out;
}

@keyframes navbarAnimation {
    from {
        left: -360px;
    }
    to {
        left: 0px;
    }
}

.rounded-navbar {
    height: 600px;
    width: 300px;
    min-width: 300px;
    border: 1px solid $main-theme-orange;
    border-left: none;
    border-top-right-radius: calc(300px + 2px);
    border-bottom-right-radius: calc(300px + 2px);
}

.button {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-icon {
        height: 50px;
        width: 50px;
    }
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.button-active {
    background-color: rgba(255, 255, 255, 0.3);
}

.download {
    position: relative;
    top: 260px;
    transform: rotate(0deg) translateY(-300px) rotate(0deg);
}

.animation-download {
    position: relative;
    top: 260px;
    transform: rotate(0deg) translateY(-300px) rotate(0deg);
}

.upload {
    position: relative;
    top: 180px;
    transform: rotate(45deg) translateY(-275px) rotate(-45deg);
}

.animation-upload {
    position: relative;
    top: 180px;
    transform: rotate(45deg) translateY(-275px) rotate(-45deg);

    animation: uploadAnimation 1s linear;
}

@keyframes uploadAnimation {
    0% {transform: rotate(0deg) translateY(-300px) rotate(0deg);}
    100% {transform: rotate(45deg) translateY(-275px) rotate(-45deg);}
}

.learn {
    position: relative;
    top: 100px;
    transform: rotate(90deg) translateY(-260px) rotate(-90deg);
}

.animation-learn {
    position: relative;
    top: 100px;
    transform: rotate(90deg) translateY(-260px) rotate(-90deg);
    animation: learnAnimation 2s linear;
}

@keyframes learnAnimation {
    0% {transform: rotate(0deg) translateY(-300px) rotate(0deg);}
    50% {transform: rotate(45deg) translateY(-275px) rotate(-45deg);}
    100% {transform: rotate(90deg) translateY(-260px) rotate(-90deg);}
}

.shop {
    position: relative;
    top: 20px;
    transform: rotate(135deg) translateY(-275px) rotate(-135deg);
}

.animation-shop {
    position: relative;
    top: 20px;
    transform: rotate(135deg) translateY(-275px) rotate(-135deg);
    animation: shopAnimation 3s linear;
}

@keyframes shopAnimation {
    0% {transform: rotate(0deg) translateY(-300px) rotate(0deg);}
    33% {transform: rotate(45deg) translateY(-275px) rotate(-45deg);}
    66% {transform: rotate(90deg) translateY(-260px) rotate(-90deg);}
    100% { transform: rotate(135deg) translateY(-275px) rotate(-135deg);}
}

.contact {
    position: relative;
    top: -60px;
    transform: rotate(180deg) translateY(-300px) rotate(-180deg);
}

.animation-contact {
    position: relative;
    top: -60px;
    transform: rotate(180deg) translateY(-300px) rotate(-180deg);
    animation: contactAnimation 4s linear;
}

@keyframes contactAnimation {
    0% {transform: rotate(0deg) translateY(-300px) rotate(0deg);}
    25% {transform: rotate(45deg) translateY(-275px) rotate(-45deg);}
    50% {transform: rotate(90deg) translateY(-260px) rotate(-90deg);}
    75% { transform: rotate(135deg) translateY(-275px) rotate(-135deg);}
    100% { transform: rotate(180deg) translateY(-300px) rotate(-180deg);}
}
