@import "../../../../../styles//colors.scss";

// :host {
//     display: flex;
//     justify-content: flex-end;
// }

.track-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 76px;
    margin-bottom: 8px;
}

.track-name {
    font-size: 48px;
    height: 100%;
    width: 608px;
    color: white;
    border-bottom: 3px solid #e75d0c;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: 85px;
}

.track-name::-webkit-scrollbar {
    display: none;
  }

.actions {
    display: flex;
    justify-content: flex-end;
}

.button {
    outline: none;
}


.toggle-img {
    height: 51px;
    margin-right: 57px;
}

.toggle-img:hover {
    cursor: pointer;
}

.download-img {
    width: 44px;
    margin-right: 57px;
}

.download-img:hover {
    cursor: pointer;
}

.notes-img {
    // height: 50px;
    width: 89px;
    margin-right: 1px;
}

.notes-img:hover {
    cursor: pointer;
}

.background {
    height: 100%;
    filter: blur(60px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    /* top: -80px; */
    pointer-events: none;
}

.notes-wrapper {
    position: relative;
    bottom: 99%;
    // filter: blur(60px);
    // background-color: rgba(255, 255, 255, 0.2);
}