<div class="track-wrapper">
    <div class="track-name">
        {{track.name}}
    </div>
    <div class="actions">
        <div class="button" (click)="toggle()">
            <img class="toggle-img" [src]="imgSrc"/>
        </div>
        <div class="button" (click)="download()">
            <img class="download-img" src="../../../../../assets/download.png"/>
        </div>
        <div class="button" (click)="niepamietamco()">
            <img class="notes-img" src="../../../../../assets/notes.png"/>
        </div>
    </div>
</div>