<div [ngClass]="{'wrapper': true,'was-start-page': wasStartPage}">
    <navigation-menu-component *ngIf="!isStartPage"></navigation-menu-component>
    <div [ngClass]="{'main-container': !isStartPage, 'start-page': isStartPage, 'paddings': !isStartPage}">
        <div [ngClass]="wasStartPage ? 'animate-header' : 'header-wrapper'" *ngIf="!isStartPage && !isMainPage">
            <div class="header">
                <div [ngClass]="!!currentHeader ? 'header-name' : 'empty-header'">{{currentHeader}}</div>
                <div class="header-navigation">
                    <img class="back-arrow" src="../../assets/up_arrow.png" (click)="navigateBack()" />
                    <img class="logo" src="../../assets/Pixel Squid.png" routerLink="/main" />
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>