<!-- <div [ngClass]="{'wrapper': !wasStartPage,'was-start-page-wrapper': wasStartPage}" #wrapper> -->
    <div class="wrapper" #wrapper>
    <navigation-menu-component *ngIf="!isStartPage"></navigation-menu-component>
    <div [ngClass]="{'main-container': !isStartPage, 'start-page': isStartPage}">
        <div [ngClass]="{'animate-header': wasStartPage, 'header-wrapper': !wasStartPage}" *ngIf="!isStartPage && !isMainPage">
            <div class="header">
                <div [ngClass]="!!currentHeader ? 'header-name' : 'empty-header'">{{currentHeader}}</div>
                <div class="header-navigation">
                    <img class="back-arrow" src="../../assets/up_arrow.png" (click)="navigateBack()" />
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>