@import "../../../../styles/colors.scss";

.search-wrapper {
    height: 155px;
    width: 675px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 48px;
    left: 315px;
}

.text-input {
    min-height: 70px;
    width: calc(100% - 71px);
    font-size: 40px;
    background-color: #e75d0c;
    border: none;
    outline: none;
    padding: 0px;
    padding-left: 4px;
    position: relative;
    left: 70px;
    bottom: 41px;
}

.icon {
    width: 61px;
    background-color: #e75d0c;
    position: relative;
    top: 29px;
    padding: 5px;
}

ul {
    list-style-type: none;
    background-color: #e75d0c;
    margin-top: 0px;
    padding-left: 70px;
    width: calc(100% - 67px);
    position: relative;
    bottom: 41px;
    z-index: 1;

    li {
        height: 50px;
        font-size: 40px;
        font-family: 'dim_bold';
    }

    li:hover {
        cursor: pointer;
    }
}

.tag {
    padding: 0px 8px;
    border-radius: 30px;
    outline: none;
}

.isTagChosen {
    background-color: rgba(255, 255, 255, 0.3);
}

.tag:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.tags-wrapper {
    display: flex;
    color: white;
    height: 100%;
    align-items: center;
    font-size: 40px;
    justify-content: space-between;
    font-family: 'dim_bold';
    // padding: 16px 0px;
}
