.shop-wrapper {
    height: calc(100% - 236px);
    min-height: 764px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 100px;
}

.shop-wrapper::-webkit-scrollbar {
    display: none;
}

.left-side-item, .right-side-item {
    display: flex;
    align-items: center;
    height: 300px;
}

.left-side-item {
    justify-content: flex-start;
    margin-left: 146px;
}

.right-side-item {
    justify-content: flex-end;
    margin-right: 151px;
}

.shop-item-image {
    width: 470px;
    outline: none;
}

.shop-item-image:hover {
    cursor: pointer;
}

.bag {
    width: 600px;
    position: relative;
    left: 50px;
}

.pick {
    width: 450px;
}

.pick-guard {
    width: 480px;
}