// :host {
//     height: 100%;
//     width: 100%;
//     overflow: scroll;
// }

.shop-wrapper {
    height: calc(100% - 88px);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 18px 36px 0px;
}

.left-side-item, .right-side-item {
    // height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}

.left-side-item {
    justify-content: flex-start;
}

.right-side-item {
    justify-content: flex-end;
}

.shop-item-image {
    height: 300px;
}

.shop-item-image:hover {
    cursor: pointer;
}
