@import '../../../../styles/colors.scss';

:host {
    display: flex;
    height: 80%;
    justify-content: center;
    flex-direction: column;
}

.table-wrapper {
    height: 80%;
    padding: 32px 16px;
    overflow: scroll;
}
table {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}