@import '../../../styles//colors.scss';

.wrapper {
    height: calc(80% - 26px);
    color: #e75d0c;
    width: calc(100% - 128px);
    display: flex;
    flex-direction: column;
    padding: 107px 64px;
    justify-content: center;
}

.wyraz {
    font-size: 150px;
    width: 55%;
    text-align: end;
}

.sie {
    font-size: 80px;
    width: 37%;
    text-align: end;
}

.poprzez {
    font-size: 120px;
    width: 80%;
    text-align: end;
}

.muzyke {
    text-align: center;
    font-size: 200px;
}