.guitars {
    height: calc(100% - 382px);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 126px 200px 113px 255px;
}

.guitar-acoustic {
    width: 263px;
    margin-right: 140px;
}

.guitar-bass {
    width: 201px;
}

.guitar-electric {
    width: 221px;
    margin-right: 140px;
}

.guitar:hover {
    cursor: pointer;
}

.guitar-image {
    height: 669px;
}