.guitars {
    height: calc(100% - 97px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 109px;
}

.guitar-acoustic {
    margin-right: 131px;
}

.guitar-bass {
    margin-right: 126px;
}

.guitar-electric {
    margin-right: 131px;
}

.guitar:hover {
    cursor: pointer;
}

.guitar-image {
    height: 629px;
}
